/* Estilos para dispositivos móveis (até 767px) */
@media (max-width: 767px) {
    header {
        padding: 10px 20px;
    }

    header .nav-header {
        flex-direction: column;
        gap: 10px;
    }

    header .btn-login-nav .btn-login,
    header .btn-login-nav .btn-sign-up {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    .banner {
        padding: 80px 20px;
        display: none;
    }

    .missao-visao-valores .card {
        padding: 15px;
    }

    .missao-visao-valores .icon {
        font-size: 2em;
        margin-bottom: 5px;
    }

    .missao-visao-valores h2 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .missao-visao-valores p,
    .missao-visao-valores ul {
        font-size: 0.95em;
    }

    .porque-coletivo {
        padding: 30px 18px;
        grid-template-columns: 1fr;
    }

    .porque-coletivo img {
        width: 100%;
    }

    .porque-coletivo p {
        font-size: 0.95em;
    }
}

/* Estilos para tablets e dispositivos maiores (768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 10px 40px;
    }

    header .nav-header {
        gap: 15px;
    }

    header .btn-login-nav .btn-login,
    header .btn-login-nav .btn-sign-up {
        padding: 10px 18px;
        font-size: 1em;
    }

    .banner {
        padding: 100px 20px;
        display: none;
    }

    .missao-visao-valores .card {
        padding: 20px;
    }

    .missao-visao-valores .icon {
        font-size: 2.3em;
    }

    .missao-visao-valores h2 {
        font-size: 1.4em;
        margin-bottom: 12px;
    }

    .missao-visao-valores p,
    .missao-visao-valores ul {
        font-size: 1em;
    }

    .porque-coletivo {
        padding: 40px 20px;
    }

    .porque-coletivo p {
        font-size: 1em;
    }
}

/* Estilos para dispositivos maiores (992px em diante) */
@media (min-width: 992px) {
    /* header {
        padding: 10px 50px;
    }

    .missao-visao-valores .card {
        padding: 30px;
    }

    .missao-visao-valores .icon {
        font-size: 2.5em;
    }

    .missao-visao-valores h2 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .missao-visao-valores p,
    .missao-visao-valores ul {
        font-size: 1.1em;
    }

    .porque-coletivo {
        padding: 50px 30px;
    }

    .porque-coletivo p {
        font-size: 1.1em;
    } */
}
